---
import Layout from '../layouts/Layout.astro';
import ClientLoginForm from '../components/ClientLoginForm';
---

<Layout title="Login - ABlog" description="Sign in to your ABlog account">
    <section class="py-12">
        <div class="container mx-auto px-4 max-w-md">
            <ClientLoginForm client:only="react" />
        </div>
    </section>
</Layout>
