---
import Layout from '../../layouts/Layout.astro';
import ClientBlogPostList from '../../components/ClientBlogPostList';
---

<Layout title="ABlog - All Blogs" description="Browse all blog posts on ABlog">
    <section class="py-12">
        <div class="container mx-auto px-4">
            <h1 class="text-4xl font-bold mb-8 dark:text-white">All Blogs</h1>
            <ClientBlogPostList client:only="react" />
        </div>
    </section>
</Layout>
